.footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0a2850),
    to(#071931)
  );
  background: -o-linear-gradient(top, #0a2850 0%, #071931 100%);
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #ffffff;
}

.footer__contents {
  margin: 0;
  padding: 60px 100px 108px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.footer__logo {
  max-width: 116px;
  max-height: 21px;
}

.footer__content_social {
  margin: 0 0 auto 0;
}

.footer__content_social-heading {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 16px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__content_social-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__content_social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin: 0;
  padding-bottom: 60px;
  padding-left: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
